@mixin boxShadow {
  background: #444447;
  box-shadow:  7px 7px 14px #38383b,
               -7px -7px 14px #505053;
}
.sideBar {
  width: 50%;
  height: 100%;
  @include boxShadow();
}
.header {
  width: 100%;
  height: 7%;
  @include boxShadow();
}
.underLeft {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 29px;
  @include boxShadow();
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    width: 60px;
    height: 100%;
    background-color: #444447;
    display: block;
    content: "";
    z-index: 1;
  }
}

.scroll {
  height: 93%;
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track{
  border-radius: 10px;
  background: linear-gradient(145deg, #2f2f32, #38383b);
  box-shadow:  20px 20px 60px #2c2c2f,
             -20px -20px 60px #3c3c3f;
}
.scroll::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: linear-gradient(145deg, #565659, #48484b);
  box-shadow:  20px 20px 60px #4f4f51,
             -20px -20px 60px #6b6b6d;
}
