.tweet_form {
  margin: 40px;
  position: relative;
  display: flex;
}
.tweet_avatar {
  margin-top: 2px;
}
.trainingName {
  margin-left: 20px;
  width: 50%;
  background-color: #e1e1e1;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #333333;
  font-size: 18px;
  height: 45px;
}
.trainingWeight {
  margin-left: 20px;
  background-color: #e1e1e1;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #333333;
  height: 45px;
  font-size: 16px;
} 
.trainingReps {
  margin-left: 20px;
  width: 90px;
  background-color: #e1e1e1;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #333333;
  height: 45px;
  font-size: 18px;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
  }
}
.tweet_addIcon {
  cursor: pointer;
  color: white;
}
.tweet_addIconLoaded {
  cursor: pointer;
  color: #03BFFF;
}
.tweet_hiddenIcon {
  display: none;
}
.tweet_sendBtn {
  border: none !important;
  background-color: #00bfff !important;
  color: white !important;
  font-weight: 800 !important;
  text-transform: inherit !important;
  border-radius: 20px !important;
  width: 80px;
  height: 40px !important;
  margin-left: 80% !important;
}
.tweet_sendDisableBtn {
  border: none !important;
  background-color: gray !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-left: 80% !important;
  cursor: none !important;
}
.saveTrainingRecord {
  margin-top: 15px;
  color: #00bfff !important;
  cursor: pointer;
  margin-left: 20px;
}
.saveTrainingRecordDisableBtn {
  margin-top: 15px;
  color: gray !important;
  cursor: pointer;
  margin-left: 20px;
}
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}
