/* // .tweet_form {
//   margin: 40px;
//   position: relative;
//   display: flex;
// }
// .tweet_avatar {
//   margin-top: 2px;
// }
// .tweet_input {
//   margin-left: 40px;
//   width: 90%;
//   background-color: #e1e1e1;
//   padding: 15px;
//   border-radius: 30px;
//   outline: none;
//   border: none;
//   color: #333333;
//   font-size: 18px;
// }
// .trainingWeight {
//   margin-left: 20px;
//   background-color: #e1e1e1;
//   padding: 15px;
//   border-radius: 10px;
//   outline: none;
//   border: none;
//   color: #333333;
//   height: 45px;
//   font-size: 16px;
// } 
// .trainingReps {
//   margin-left: 20px;
//   width: 90px;
//   background-color: #e1e1e1;
//   padding: 15px;
//   border-radius: 10px;
//   outline: none;
//   border: none;
//   color: #333333;
//   height: 45px;
//   font-size: 18px;
//   &::-webkit-inner-spin-button,
//   &::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
//     -moz-appearance:textfield;
//   }
// }
// .tweet_addIcon {
//   cursor: pointer;
//   color: gray;
//   outline: none;
// }
// .tweet_addIconLoaded {
//   cursor: pointer;
//   color: white;
//   outline: none;
// }
// .tweet_hiddenIcon {
//   display: none;
// }
// .tweet_sendBtn {
//   border: none !important;
//   background-color: #00bfff !important;
//   color: white !important;
//   font-weight: 800 !important;
//   text-transform: inherit !important;
//   border-radius: 20px !important;
//   width: 80px;
//   height: 40px !important;
//   margin-left: 80% !important;
// }
// .tweet_sendDisableBtn {
//   border: none !important;
//   background-color: gray !important;
//   color: white !important;
//   font-weight: 900 !important;
//   text-transform: inherit !important;
//   border-radius: 30px !important;
//   width: 80px;
//   height: 40px !important;
//   margin-left: 80% !important;
//   cursor: none !important;
// }
.saveTrainingRecord {
//   color: #00bfff;
//   cursor: pointer;

// }
// .saveTrainingRecordDisableBtn {
//   color: gray;
//   cursor: pointer;

// }
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
} */

