.user_profile {
  padding-top: 50px;
  .name {
    font-weight: 600;
    font-size: 20px;
    color: white;
  }
  .logout_button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
  }
}
