.user_profile {
  padding-top: 50px;
}
.user_bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  .name {
    font-weight: 600;
  font-size: 18px;
  color: white;
  margin-right: 12px;
  }
}
